<a href="https://colab.research.google.com/github/premharley/Hamoye_internship_task/blob/main/Hamoye_quiz_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [ ]:
df.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
df.groupby('Area Code')['Area Code'].count()

Area Code
4      1313
7      1424
20     1378
32     1460
35     1260
37     1344
39     1343
45       45
46     1413
53     1285
59     1488
62       39
72     1095
74     1245
75     1168
81     1354
90     1410
107    1467
114    1560
122    1150
123    1206
129    1439
130    1447
133    1293
136    1195
137    1378
143    1393
144    1427
147    1283
158    1403
159    1474
175    1128
181    1393
184    1426
193    1177
195    1462
196      68
197    1242
202    1399
206      53
209    1284
215    1419
217    1294
222    1338
226    1458
233    1409
238    1447
251    1451
276    1316
Name: Area Code, dtype: int64

In [ ]:
df.groupby(['Y2017','Area'])['Area'].max()

Y2017      Area
-1582.0    Egypt                                                Egypt
-1200.0    Mozambique                                      Mozambique
-1159.0    Mozambique                                      Mozambique
-865.0     United Republic of Tanzania    United Republic of Tanzania
-860.0     United Republic of Tanzania    United Republic of Tanzania
                                                     ...
 96443.0   Egypt                                                Egypt
 106400.0  Ethiopia                                          Ethiopia
 112625.0  Nigeria                                            Nigeria
 117702.0  Nigeria                                            Nigeria
 190873.0  Nigeria                                            Nigeria
Name: Area, Length: 14773, dtype: object

In [ ]:
round(df.isnull().sum()/len(df)*100,3)

Area Code       0.000
Area            0.000
Item Code       0.000
Item            0.000
Element Code    0.000
Element         0.000
Unit            0.000
Y2014           2.607
Y2015           2.540
Y2016           2.519
Y2017           2.471
Y2018           2.356
dtype: float64

In [ ]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
d=seventh_lowest=df.groupby(['Y2017','Area'])['Area'].sum()
print(d)

Y2017      Area
-1582.0    Egypt                                           EgyptEgypt
-1200.0    Mozambique                                      Mozambique
-1159.0    Mozambique                                      Mozambique
-865.0     United Republic of Tanzania    United Republic of Tanzania
-860.0     United Republic of Tanzania    United Republic of Tanzania
                                                     ...
 96443.0   Egypt                                                Egypt
 106400.0  Ethiopia                                          Ethiopia
 112625.0  Nigeria                                            Nigeria
 117702.0  Nigeria                                            Nigeria
 190873.0  Nigeria                                            Nigeria
Name: Area, Length: 14773, dtype: object

In [ ]:
print(answer)

Algeria

In [ ]:
df.shape

(60943, 12)

In [ ]:
df.Area.unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [ ]:
df.groupby('Area Code')['Area'].unique().count()

49